body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    /* background: linear-gradient(to right, rgba(247, 89, 41, 0.5), rgba(2, 5, 185, 0.5)); */
    background-color: 	#05014a;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.6s ease-in-out;
}



.container-fluid {
    max-height: 100vh;
    overflow-y: auto;
}

@keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

.container {
    padding-top: 0;
}

.table {
    background-color: #fff;
    border-radius: 8px;
}

h4 {
    text-align: center;
    color: #333;
}

.search-form {
    display: flex;
    margin-top: 20px;
    width: 200px;
}


.btn-dp-orange{
    background-color: #fc6b03;
    color: white;
}
.btn-dp-blue{
    background-color: #003DA5;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    /* Dark background color for the footer */
    color: #ffffff;
    /* Text color for the footer */
    /* Padding for the footer content */
}
.logo img {
    transition: transform 0.6s ease-in-out;
}

.logo img:hover {
    transform: scale(1.2);
}
